VITE_BASE_URL=http://localhost:3000
SERVER_BASE_URL=http://localhost:3000

DATABASE_URL=

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDFLARE_BUCKET_BASE_URL=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=

VITE_POSTHOG_PROJECT_TOKEN=
VITE_POSTHOG_HOST=
